@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
}

.navbar-bg-color{
  background-color: #001F3F;
}

.c-item {
    height: 480px;
  }

  .carousel-img {
    height: 100%; /* Atur tinggi gambar */
    object-fit: cover;
    filter: brightness(.2);
  }

  /* * BUTTON CAROUSEL */ 
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    color: #0f1923;
    cursor: pointer;
    position: relative;
    padding: 8px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: all .15s ease;
  }
  
  .button::before,
  .button::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    height: calc(50% - 5px);
    border: 1px solid #7D8082;
    transition: all .15s ease;
  }
  
  .button::before {
    top: 0;
    border-bottom-width: 0;
  }
  
  .button::after {
    bottom: 0;
    border-top-width: 0;
  }
  
  .button:active,
  .button:focus {
    outline: none;
  }
  
  .button:active::before,
  .button:active::after {
    right: 3px;
    left: 3px;
  }
  
  .button:active::before {
    top: 3px;
  }
  
  .button:active::after {
    bottom: 3px;
  }
  
  .button_lg {
    position: relative;
    display: block;
    padding: 10px 20px;
    color: #fff;
    background-color: #0f1923;
    overflow: hidden;
    box-shadow: inset 0px 0px 0px 1px transparent;
  }
  
  .button_lg::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #0f1923;
  }
  
  .button_lg::after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    background-color: #0f1923;
    transition: all .2s ease;
  }
  
  .button_sl {
    display: block;
    position: absolute;
    top: 0;
    bottom: -1px;
    left: -8px;
    width: 0;
    background-color: blue;
    transform: skew(-15deg);
    transition: all .2s ease;
  }
  
  .button_text {
    position: relative;
  }
  
  .button:hover {
    color: #0f1923;
  }
  
  .button:hover .button_sl {
    width: calc(100% + 15px);
  }
  
  .button:hover .button_lg::after {
    background-color: #fff;
  }
  /* *BUTTON CAROUSEL END*/
  
  .container-content1 {
    background-color: #001F3F;
    padding-right: 25px;
    padding-left: 25px;
  }
  .text-color{
    color: white;
  }
  .card-content-img{
    height: 300px;
    object-fit: cover;
    filter: brightness(.6);
  }
  .card-bgcolor{
    background-color: #507687;
    border-radius: 0;
  }
  .card-transparan {
    background-color: transparent;
    border: 0;
  }

  .txt-shadow{
    text-shadow: 7px 7px 5px rgba(0,0,0,0.29);
  }

  /* * BUTTON About Me */

.button-aboutme {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
  color: white;
  text-shadow: 2px 2px rgb(116, 116, 116);
  text-transform: uppercase;
  cursor: pointer;
  border: solid 2px black;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 17px;
  background-color: hsl(49deg 98% 60%);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.button-aboutme:active {
  transform: scale(0.9);
  transition: all 100ms ease;
}

.button-aboutme svg {
  transition: all 0.5s ease;
  z-index: 2;
}

.play {
  transition: all 0.5s ease;
  transition-delay: 300ms;
}

.button-aboutme:hover svg {
  transform: scale(3) translate(50%);
}

.now {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  z-index: 2;
}

.button-aboutme:hover .now {
  transform: translateX(10px);
  transition-delay: 300ms;
}

.button-aboutme:hover .play {
  transform: translateX(200%);
  transition-delay: 300ms;
}
/* * BUTTON About Me END */

.container-content3{
  background-color: #001F3F;
}


@media screen and (max-width : 576px) {
  .container-content1 {
    padding: 0;
    text-align: center;
  }
  .responsive-content1-1 {
    margin-bottom: 20px;
    text-align: center;
  }
  .card-content-img{
    height: 200px;
    object-fit: fill;
    filter: brightness(.6);
    border-radius: 2%;
  }
  .card-bgcolor{
    background-color: #507687;
    border-radius: 2%;
  }
  .responsive-content1-2 h5, .responsive-content1-2 p{
    text-align: justify;
  }
  .responsive-content1-3 {
    margin-top: 15px;
  }
  .responsive-jarak-1 {
    margin: 0 !important; 
  }
  .responsive-content2-1{
    margin-top: 20px;
  }
  .responsive-content2-1 .mt-4{
    margin-top: 15px !important;
    text-align: center;
  }
  .responsive-content2-2 .card{
    margin-top: 25px;
    max-width: 100%;
  }
  .responsive-content2-2 .btn{
    margin-top: 25px;
  }
  .responsive-content3-1 .card {
    margin-top: 25px;
    max-width: 100%;
  }
  .responsive-content3-1 a {
    margin-top: 25px;
  }
  .responsive-content3-1 .row {
    margin-top: 10px;
  }
  .responsive-content3-1 .mt-4 {
    margin-top: 10px !important;
  }
  .responsive-content4-1 {
    display: block !important;
  }
  .responsive-content4-2 .my-5{
    margin: 0 !important;
    margin-bottom: 25px !important;
  }
  .responsive-content4-2 p {
    text-align: justify;
  }
  .con-button {
    display: none;
  }
  .responsive-content4-3 img {
    border-radius: 3% !important;
  }
  .responsive-footer p {
    text-align: center;
  }
  .responsive-footer #contact {
    position: relative;
    left: 12%;
  }
}